/* == fonts == */

@font-face {
  font-family: "Lululemon Light";
  src: url("../../../fonts/LululemonLightFont.woff2") format("woff2");
}

@font-face {
  font-family: "Lululemon Heavy";
  src: url("../../../fonts/LululemonHeavyFont.woff2") format("woff2");
}

body {
  font-family: "Lululemon Light";
  background-color: #fafafa;
  max-height: 100%;
}


/* == flexbox == */

.flexRow {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}


/* == app == */

.clickable {
  cursor: pointer;
}

.main {
  position: relative;
}

.directory {
  margin: 0 12px;
}

/* == photo list == */

.photoListContainer {
  position: sticky;
  top: 145px;
  width: 94px;
  left: 12px;
}

.photoList {
  width: 70px;
  height: 84px;
  margin: 4px 12px;
  opacity: 0.3;
  transition: opacity .3s ease 0s;
}

.selectedPhoto {
  opacity: 1;
}

.initPhoto:first-of-type img {
  opacity: 1;
}


/* == detail colors == */

.swatch {
  width: 50px;
  height: 25px;
  padding: 3px;
  margin: 4px 10px;
  border: 0.75px solid white;
  outline: 1px solid #e0e0e0;
  outline-offset: -4px;
}

.swatch:first-child {
  margin-left: 0;
}

.swatchName {
  font-size: 14px;
}

.selectedSwatch {
  border: 1px solid black;
}

.initSwatch:first-of-type img {
  border: 1px solid black;
}

.smallColors {
  display: none;
}


/* == detail dropdowns == */

.dropdown {
  background-color: white;
  padding: 18px 20px;
  margin-top: 14px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  /* transition: 0.4s; */
  font-size: 17px;
  border-bottom: 0.5px solid #e0e0e0;
}

.plus:after {
  content: '\002795';
  font-size: 12px;
  float: right;
  margin-left: 5px;
}

.minus:after {
  content: '\002796';
  font-size: 12px;
  float: right;
  margin-left: 5px;
}

.dropdownInfo {
  background-color: white;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height .85s cubic-bezier(.09,-.09,.02,1.46);
}

.dropdownInfo div {
  padding: 8px;
}

.dropdownInfo img {
  padding-right: 10px;
}

.fabricBenefit {
  width: 45%;
  display: inline-block;
  padding-left: 0 !important;
}

.features {
  padding: 0 !important;
}

.featureName {
  padding-left: 0 !important;
  width: 100%;
}

.featureDescription {
  padding-left: 0 !important;
  width: 100%;
}

.careIcon {
  width: 18px;
  height: 18px;
  vertical-align: bottom;
}

.careIconText {
  vertical-align: center;
}

.horizontalLine {
  border: 0.5px solid #e0e0e0;
  padding: 0 !important;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes bounce {
  10%, 60%, 100% {transform: translateY(0);}
  10% {transform: translateY(-12px);}
  60% {transform: translateY(0);}
}

.bounce {
  animation-name: bounce;
}


/* == media == */

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .directory {
    display: none;
  }

  .break {
    display: none;
  }

  .photoListContainer {
    display: none;
  }

  .detailColorsContainer {
    order: 3;
    padding: 8px;
  }

  .detailDropdownsContainer {
    order: 6;
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  .swatchName {
    display: none;
  }

  .smallColors {
    display: block;
    font-size: 12px;
  }

  .smallColorsNumber {
    display: inline-block;
  }

  .smallColorsName {
    display: inline-block;
    position: absolute;
    right: 4px;
  }

  .dropdown {
    font-size: 14px;
  }
}